.homepageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.homepageContainer .inputcontainer {
    min-width: 300px;
    
}